*{
    background-color: darkgray;
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium';
}
#imgPerfil{
    border-radius: 350px;
}
.titulos{
font-size: 200%;
font-style:inherit;
}

h2{
    font-size: 300%;
    
}
#biografia{
display: inline-block;
}
.divInline{
    display: block;
}

.flexElemento{
    width: 400px;
    height: 40px;
    background-color: bisque;
    margin: 15px;

}


